<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "blog-post" %>

    <title> Welcome to my blog </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 
              
    <% if author_signed_in? %>

       <ul class="nav navbar-nav">
         <li>
            Welcome authenticated author 
          </li>
          <li>
            <%= link_to "Logout", destroy_author_session_path %>
          </li>
          <li>
            <%= link_to "Profile", edit_author_registration_path %>
          </li>

        </ul>
    <% else %>
    	<strong> Welcome guest. </strong>
       <ul class="nav navbar-nav">
          <li>
            <%= link_to "Logout", destroy_author_session_path, class: "btn btn-large btn-primary" %>
          </li>
          <li>
            <%= link_to "Profile", edit_author_registration_path, class: "btn btn-large btn-primary" %>
          </li>
        </ul>
    <% end %> 
    
  </div>

  <%= yield %>

  </body>
</html>
